<!DOCTYPE html>
<html lang="en" ng-app="ussd">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="img/favicon.ico"> -->

    <title>USSD menu navigator</title>

    {% load staticfiles %}

    <link href="{% static 'ussdmenus/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'ussdmenus/css/xeditable.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'ussdmenus/css/app.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="AppController">

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Run Menus</a></li>
            <li role="presentation"><a href="#">Logs</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">USSD menu navigator</h3>
      </div>

      <div clas="row" ng-init="refresh()">
        <h4>
          http://<a href="#" editable-text="host.address"><span ng-bind="host.address"></span></a>:
          <a href="#" editable-text="host.port"><span ng-bind="host.port"></span></a>
        </h4>
        <div class="col-md-3">
          MSISDN: <a href="#" editable-text="msisdn"><span ng-bind="msisdn"></span></a>
        </div>
        <div class="col-md-3">
          Session ID: <a href="#" editable-text="session_id"><span ng-bind="session_id"></span></a>
        </div>
        <div class="col-md-3">
          IMSI: <a href="#" editable-text="imsi"><span ng-bind="imsi"></span></a>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-link" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>
      </div>

      <div class="response">
        <h4>Response:</h4>
        <div class="content">

          <pre ng-bind-html="ussdResponse"></pre>
            
        </div>

        <form class="form-inline text-center">
          <div class="form-group">
            <label class="text-muted">Send keystrokes</label>
            <input type="text" id="reply" class="form-control" ng-model="query_string" placeholder="1234" value="1234324">
          </div>
          <button type="button" class="btn btn-success" ng-click="send()">Send</button>
        </form>

        <h5 class="text-center text-muted">press <kbd>ENTER</kbd> to send keystrokes</h5>

      </div>



      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <script type="text/javascript">
      document.getElementById('reply').select();
    </script>

    <script src="{% static 'ussdmenus/js/angular.js' %}"></script>
    <script src="{% static 'ussdmenus/js/ng-websocket.js' %}"></script>
    <script src="{% static 'ussdmenus/js/angular-sanitize.js' %}"></script>
    <script src="{% static 'ussdmenus/js/xeditable.js' %}"></script>
    <script src="{% static 'ussdmenus/js/notie.js' %}"></script>
    <script src="{% static 'ussdmenus/js/app.js' %}"></script>
  </body>
</html>
